
<mat-card>
    <h3 class="title">Add New Category</h3>
</mat-card>

<mat-card class="main-content">

    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-2">
                    <form (ngSubmit)="addCategory()">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Category Title</mat-label>
                        <input matInput placeholder="Enter Title" [(ngModel)]="category.categoryTitle"  name="title" required="required">
                      </mat-form-field>
                
                       <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Category Description</mat-label>
                        <textarea name="description" cols="30" rows="10" matInput placeholder="Enter Description" [(ngModel)]="category.categoryDescription" required="required"></textarea>
                      </mat-form-field>
                
                      <div class="container btn">
                        <button type="submit" mat-raised-button color="primary">Add</button> &nbsp; &nbsp;
                        <button type="reset" mat-raised-button color="warn">Clear</button>
                      </div>
                    </form>     
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
