.title {
  padding: 5px;
  font-weight: bold;
  margin-left: 3px;
  margin-top: 10px;
}

.main-content {
  margin-top: 15px;
  padding: 15px;
}

.full-width{
    width: 100%;
}

.btn{
    margin-top: 10px;
}