<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/images/QUIZ-APP.png" alt="QUIZ-APP" class="img">
                </div>
                <h2 class="text-center text-bold">Register Here !!</h2>

                <form (ngSubmit)="formSubmit()">
                    <!-- User Name field -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>User Name*</mat-label>
                        <input matInput placeholder="Enter Username" [(ngModel)]="User.userName" name="name">
                      </mat-form-field>

                      <!-- User Email field -->
                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>User Email*</mat-label>
                        <input type="email" matInput placeholder="Enter Email" [(ngModel)]="User.userEmail" name="email">
                      </mat-form-field>

                      <!-- User Phone Field -->
                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>User Phone*</mat-label>
                        <input matInput placeholder="Enter Phone" [(ngModel)]="User.userPhone" name="phone">
                      </mat-form-field>

                       <!-- Usser Passsword Field -->
                       <mat-form-field appearance="outline" class="full-width">
                        <mat-label>User Password*</mat-label>
                        <input type="password" matInput placeholder="Enter Password" [(ngModel)]="User.password" name="password">
                      </mat-form-field>

                      <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Register</button> &nbsp; &nbsp;
                        <button type="reset" mat-raised-button color="warn">Clear</button>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>
