<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 20px">
      <div class="col-md-6 offset-md-3">
        <mat-card style="padding: 20px">
          <div class="container text-center">
            <img
              src="../../../assets/images/QUIZ-APP.png"
              alt="QUIZ-APP"
              class="img"
            />
          </div>
          <h2 class="text-center text-bold">Login Here !!</h2>

          <form (ngSubmit)="formSubmit()">
            <!-- User Name field -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>User Name</mat-label>
              <input
                matInput
                placeholder="Enter Username"
                [(ngModel)]="LoginData.userName"
                name="username"
                required="required"
              />
            </mat-form-field>

            <!-- Usser Passsword Field -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>User Password</mat-label>
              <input
                type="password"
                matInput
                placeholder="Enter Password"
                [(ngModel)]="LoginData.password"
                name="password"
                required="required"
              />
            </mat-form-field>

            <div class="container text-center">
              <button type="submit" mat-raised-button color="primary">
                Login
              </button>
              &nbsp; &nbsp;
              <button type="reset" mat-raised-button color="warn">Clear</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
