.example-spacer {
    flex: 1 1 auto;
}

a{
    display: flex;
    text-decoration: none;
    color: #161617;
    justify-content: center;
    align-items: center;
    margin: 8px;
    cursor: pointer;
}

#user{
   text-transform: uppercase;
   /* cursor: none; */
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: blue;
}
