<mat-card id="sidebar">
  <mat-action-list>
    <div mat-subheader class="menu">MENU</div>
    <button mat-list-item routerLink="/admin">
        <mat-icon mat-list-icon>home</mat-icon>
        <span>HOME</span>
    </button>
    <button mat-list-item routerLink="/admin/profile">
        <mat-icon>person</mat-icon>
        <span>USER</span>
    </button>
    <button mat-list-item routerLink="/admin/profile">
      <mat-icon>view_list</mat-icon>
      <span>CATEGORIES</span>
  </button>
  <button mat-list-item routerLink="/admin/profile">
    <mat-icon>add_circle_outline</mat-icon>
    <span>ADD CATEGORIES</span>
</button>
<button mat-list-item routerLink="/admin/profile">
  <mat-icon>psychology_alt</mat-icon>
  <span>QUIZZES</span>
</button>
<button mat-list-item routerLink="/admin/profile">
  <mat-icon>assignment_add</mat-icon>
  <span>ADD QUIZ</span>
</button>
<button mat-list-item routerLink="/admin/profile">
  <mat-icon>logout</mat-icon>
  <span>Logout</span>
</button>
  </mat-action-list>
</mat-card>
